/* =================  GOOGLE FONTS =================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* =================  VARIABLE CSS =================== */

:root {
  --header-height: 3rem;

  /* =============== COLORS =========== */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-light: rgba(36, 36, 36, 0.809);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;
  --border-box-color: rgba(0, 0, 0, 0.1);
  --body-color-dark: hsl(var(--hue), var(--sat), 50%);

  /* ================ FONT AND TYPOGRAPHY ======== */
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px | 1rem = 16px ... */
  --big-font-size: 3.5rem;
  --title-font-size: 2.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* =============  FONT WEIGHT =================*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ============= MARGINS BOTTOM =========== */
  /*  .5rem = 8px | 1rem = 16px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* =============== Z INDEX =========== */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.dark_theme {
  --hue: 0;
  --sat: 0%;
  --title-color: white !important;
  --title-color-light: rgba(187, 183, 183, 0.838) !important;
  --title-color-dark: white !important;
  --text-color: rgb(152, 152, 152) !important;
  --body-color: rgb(25, 24, 24) !important;
  --border-box-color: rgba(255, 255, 255, 0.1) !important;
  --container-color: rgb(25, 24, 24) !important;

  background-color: var(--container-color);
}

/* RESPONSIVE TYPOGRAPHY */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --title-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/* ==================== BASE ================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--body-color-dark) var(--border-box-color);
}

::-webkit-scrollbar {
  width: 0.6vw;
}

::-webkit-scrollbar-thumb {
  background-color: var(--body-color-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--border-box-color);
}

html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--body-color-dark);
}

html::-webkit-scrollbar-track {
  background-color: var(--border-box-color);
}

body,
button,
input,
textarea {
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size);
}

body {
  color: var(--text-color);
  background-color: var(--body-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ====================  REUSABLE CSS CLASSES ================== */
.section {
  padding: 5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* ==================  LAYOUT ==================== */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ====================  BUTTONS ================== */
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/* ===================  BREAKPOINTS =================== */

/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    height: 22px;
    width: 22px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height);
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}
